.navbar .navbar-brand {
  height: auto;
  color: black;
  font-size: 3em;
  font-weight: bold;
}
@media (max-width: 500px) {
  .navbar .navbar-brand {
    font-size: 2em;
  }
  .navbar .navbar-brand img {
    height: 35px;
  }
}
.navbar .navbar-brand span {
  white-space: nowrap;
}
.navbar .navbar-brand img {
  vertical-align: text-bottom;
}

.navbar {
  margin-bottom: 0;
  background: white;
  border: 0px;
}

.navbar-right {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.content {
  background: white;
}
.content img {
  height: 100%;
  max-width: 100%;
  max-height: calc(100% - 80px);
}
.content .tab-pane {
  height: calc(100% - 80px - 42px);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}
.content .tab-pane iframe {
  border: 0;
  margin-top: -50px;
}
.content .nav-pills li {
  width: 25%;
  margin: 0;
}
@media (max-width: 768px) {
  .content .nav-pills li {
    width: 50%;
  }
}
.content .nav-pills a {
  text-align: center;
}
.content .nav-pills a img {
  margin: 0 auto;
  display: block;
}

.counter {
  text-align: center;
  margin-bottom: 4em;
}
.counter h1 {
  font-size: 6em;
  font-weight: 500;
  color: #dd0000;
}

.bio-photo {
  text-align: center;
}
.bio-photo img {
  border-radius: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  box-shadow: 0 0 20px -5px black;
}

.teen {
  font-size: 3em;
  position: relative;
  background: transparent;
  min-height: 100%;
  color: white;
}
.teen:before {
  content: "";
  background: url("../images/boy.jpg");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.teen .text {
  margin-top: 18%;
}
.teen .text p {
  font-size: .8em;
  font-weight: 400;
}
@media (max-width: 768px) {
  .teen .text {
    position: absolute;
    bottom: 1em;
    left: 0;
    margin-top: 50%;
    padding: 0 15px;
  }
}

.jumbotron-red {
  background: #880000;
  color: white;
}

.jumbotron {
  margin-bottom: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #dd0000;
}

.btn-primary {
  background-color: #dd0000;
  border-color: #cc0000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: red;
  border-color: #dd0000;
}

a {
  color: #dd0000;
}

a:hover, a:focus {
  color: #ff0000;
}

.center-container {
  text-align: center;
}

.container-dark {
  background: #ccc;
}

#wordcloud {
  margin-top: 1em;
}

#wordcloud-select {
  width: auto;
  margin: 0 auto;
}
