.navbar .navbar-brand {
  height: auto;
  color: black;
  font-size: 3em;
  font-weight: bold;
}
@media (max-width: 500px) {
  .navbar .navbar-brand {
    font-size: 2em;
  }
  .navbar .navbar-brand img {
    height: 35px;
  }
}
.navbar .navbar-brand span {
  white-space: nowrap;
}
.navbar .navbar-brand img {
  vertical-align: text-bottom;
}

.navbar {
  margin-bottom: 0;
  background: white;
  border: 0px;
}

.navbar-right {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.tooltip-inner {
  text-align: left;
}

.content {
  background: white;
}
.content .container {
  position: relative;
}
.content .container .info {
  position: absolute;
  right: 0;
  top: 175px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  background: #d00;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
}
.content .container .info:before {
  content: 'i';
}
@media (max-width: 768px) {
  .content .container .info {
    display: none;
  }
}
.content .tab-pane {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}
.content .tab-pane iframe {
  border: 0;
  margin-top: -50px;
}
.content .nav-pills li {
  width: 25%;
  margin: 0;
}
@media (max-width: 768px) {
  .content .nav-pills li {
    width: 50%;
  }
}
.content .nav-pills a {
  text-align: center;
}
.content .nav-pills a img {
  margin: 0 auto;
  display: block;
}

.counter {
  text-align: center;
  margin-bottom: 4em;
}
.counter h1 {
  font-size: 6em;
  font-weight: 500;
  color: #dd0000;
}
@media (max-width: 768px) {
  .counter h1 {
    font-size: 4em;
  }
}
.counter .quote {
  width: 80%;
  margin: 3em auto;
}

.bio-photo {
  text-align: center;
}
.bio-photo img {
  margin-bottom: 1em;
  border-radius: 100px;
  box-shadow: 0 0 15px -5px black;
}

.teen {
  font-size: 3em;
  position: relative;
  background: transparent;
  min-height: 100%;
  color: white;
}
.teen:before {
  content: "";
  background: url("../images/boy.jpg");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.teen .text {
  margin-top: 18%;
}
.teen .text p {
  font-size: .8em;
  font-weight: 400;
}
@media (max-width: 768px) {
  .teen .text {
    position: absolute;
    bottom: 1em;
    left: 0;
    margin-top: 50%;
    padding: 0 15px;
  }
}

.jumbotron-red {
  background: #333;
  color: white;
}
.jumbotron-red h1 {
  margin-top: 0;
  margin-bottom: .5em;
}
.jumbotron-red .container > p {
  margin-bottom: 3em;
}

.jumbotron {
  margin-bottom: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #dd0000;
}

.btn-primary {
  background-color: #dd0000;
  border-color: #cc0000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: red;
  border-color: #dd0000;
}

a {
  color: #dd0000;
}

a:hover, a:focus {
  color: #ff0000;
}

.center-container {
  text-align: center;
}

.container-dark {
  background: #ccc;
}

#wordcloud {
  margin-top: 1em;
}

#wordcloud-select {
  width: auto;
  margin: 0 auto;
}

.loading {
  opacity: .2;
}

#quote {
  background-color: #d00;
  color: #fff;
  margin-left: 80px;
  border-radius: 20px 20px 20px 20px;
  margin: 2em auto;
  padding: 15px 20px;
  position: relative;
  width: 75%;
}
#quote a {
  color: white;
  font-size: 21px;
}
#quote p {
  margin: 0;
  font-weight: 400;
}
#quote:before {
  box-sizing: content-box;
  border-color: #d00;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
}
