
a.link-button {
  display: block;
  background-color: $color-red;
  text-align: center;
  text-decoration: none;
  padding: .5em;
  border-radius: 1em;
  margin: 0 1em;
}

#top-link {
  margin-top: -60px;
}
