/**
 * Crisis Trends variables
 */

$img-dir: '../images';

$arrow-down-size: 20px;

$color-light-gray: #F0F0F0;
$color-dark-gray: #333333;
$color-red: #EC1C24;
$color-white: #FFFFFF;
$color-tableau-gray: #FAFAFA;

/**
 * Variable overrides for the Base framework.
 *
 * http://getbase.org/docs/css.html#variables
 */
$base-font-family: 'Helvetica Neue', 'Arial', sans-serif;
$base-heading-font-family: $base-font-family;
