
.footer {
  padding-top: calc(#{$arrow-down-size});
  background-color: $color-dark-gray;
  padding-bottom: 5em;

  * {
    color: white;
  }

  h1 {
    color: $color-red;
    text-align: center;
    margin-top: 2em;
  }

  a:hover {
    color: $color-red;
  }

  hr {
    background-color: $color-red;
    margin: 2.5em 0 2em;
  }
}
