
.footer {
  padding-top: calc(#{$arrow-down-size} + 4em);
  background-color: $color-dark-gray;
  padding-bottom: 5em;

  * {
    color: white;
  }

  h1 {
    color: $color-red;
    text-align: center;
  }

  hr {
    background-color: $color-red;
    margin: 2.5em 0 2em;
  }
}
