$image-height: 490px;
$image-width: 600px;
$arrow-size: 50px;

$arrow-height: $arrow-size*1.25;
$arrow-width: $arrow-size;

.image-carousel {
  position: relative;
  height: $image-height/2+50px;
  padding-top: calc(#{$arrow-down-size} + 1em);

  @include breakpoint(m) {
    height: $image-height+100px;
  }

  @include arrow-down($arrow-down-size, $color-white);
  z-index: 2;
}

.carousel-panel {
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  margin-left: -$image-width/2/2;

  width: $image-width/2;
  height: $image-height/2;

  @include breakpoint(m) {
    width: $image-width;
    height: $image-height;
    margin-left: -$image-width/2;
  }
}

.carousel-panel img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-panel-active {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-out;
}

.carousel-arrow {
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -$arrow-size / 2;
  z-index: 10;
}

.carousel-left {
  border-top: $arrow-height/3 solid transparent;
  border-bottom: $arrow-height/3 solid transparent;
  border-right: $arrow-width/3 solid $color-dark-gray;
  left: 5%;

  @include breakpoint(m) {
    border-top: $arrow-height/2 solid transparent;
    border-bottom: $arrow-height/2 solid transparent;
    border-right: $arrow-width/2 solid $color-dark-gray;
    left: 5%;
  }

  @include breakpoint(l) {
    border-top: $arrow-height solid transparent;
    border-bottom: $arrow-height solid transparent;
    border-right: $arrow-width solid $color-dark-gray;
    left: 10%;
  }

  @include breakpoint(xl) {
    left: 15%;
  }
}

.carousel-right {
  border-top: $arrow-height/3 solid transparent;
  border-bottom: $arrow-height/3 solid transparent;
  border-left: $arrow-width/3 solid $color-dark-gray;
  right: 5%;

  @include breakpoint(m) {
    border-top: $arrow-height/2 solid transparent;
    border-bottom: $arrow-height/2 solid transparent;
    border-left: $arrow-width/2 solid $color-dark-gray;
    right: 5%;
  }

  @include breakpoint(l) {
    border-top: $arrow-height solid transparent;
    border-bottom: $arrow-height solid transparent;
    border-left: $arrow-width solid $color-dark-gray;
    right: 10%;
  }

  @include breakpoint(xl) {
    right: 15%;
  }
}

.carousel-arrow-disabled {
  cursor: auto;
  opacity: .4;
}

.down-arrow-fake {
  @include arrow-down($arrow-down-size, black);
  z-index: 1;
  top: 0px;
  height: 1px;
  background: black;
}
