html {
  height: 100%;
}

body {
  height: 100%;
}

.content {
  background: white;
}
.content img {
  height: 100%;
  max-width: 100%;
  max-height: calc(100% - 80px);
}
.content .tab-pane {
  height: calc(100% - 80px - 42px);
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}
.content .tab-pane iframe {
  border: 0;
  margin-top: -50px;
}
.content .nav-pills li {
  width: 25%;
  margin: 0;
}
@media (max-width: 768px) {
  .content .nav-pills li {
    width: 50%;
  }
}
.content .nav-pills a {
  text-align: center;
}
.content .nav-pills a img {
  margin: 0 auto;
  display: block;
}

.counter {
  text-align: center;
  margin-bottom: 4em;
}
.counter h1 {
  font-size: 6em;
  font-weight: 500;
  color: #dd0000;
}

.bio-photo {
  text-align: center;
}
.bio-photo img {
  border-radius: 100px;
  box-shadow: 0 0 15px -5px black;
}
