html {
  height: 100%;
}

body {
  height: 100%;
}

.tooltip-inner {
  text-align: left;
}

.content {
  background: white;
}
.content .container {
  position: relative;
}
.content .container .info {
  position: absolute;
  right: 0;
  top: 175px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  background: #d00;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
}
.content .container .info:before {
  content: 'i';
}
@media (max-width: 768px) {
  .content .container .info {
    display: none;
  }
}
.content .tab-pane {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}
.content .tab-pane iframe {
  border: 0;
  margin-top: -50px;
}
.content .nav-pills li {
  width: 25%;
  margin: 0;
}
@media (max-width: 768px) {
  .content .nav-pills li {
    width: 50%;
  }
}
.content .nav-pills a {
  text-align: center;
}
.content .nav-pills a img {
  margin: 0 auto;
  display: block;
}

.counter {
  text-align: center;
  margin-bottom: 4em;
}
.counter h1 {
  font-size: 6em;
  font-weight: 500;
  color: #dd0000;
}
@media (max-width: 768px) {
  .counter h1 {
    font-size: 4em;
  }
}
.counter .quote {
  width: 80%;
  margin: 3em auto;
}

.bio-photo {
  text-align: center;
}
.bio-photo img {
  margin-bottom: 1em;
  border-radius: 100px;
  box-shadow: 0 0 15px -5px black;
}

.disclaimer {
  padding-bottom: 1em;
}
.disclaimer p {
  font-size: 1em;
}

p.little {
  font-size: 1em;
}

.btn-ctl {
  background: #dd0000;
  color: white;
}
.btn-ctl:hover {
  background: red;
}
