.navbar .navbar-brand {
  height: auto;
  color: black;
  font-size: 3em;
  font-weight: bold;
}
@media (max-width: 500px) {
  .navbar .navbar-brand {
    font-size: 2em;
  }
  .navbar .navbar-brand img {
    height: 35px;
  }
}
.navbar .navbar-brand span {
  white-space: nowrap;
}
.navbar .navbar-brand img {
  vertical-align: text-bottom;
}
.navbar .navbar-brand.tiny {
  height: 50px;
  font-size: 2em;
}
.navbar .navbar-brand.tiny img {
  max-height: 100%;
}

.navbar {
  margin-bottom: 0;
  background: white;
  border: 0px;
}

.navbar-right {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }
}
