@import "compass/css3/filter";

html { height: 100%; }
body {
    height: 100%;
}

.content {
    background: white;

    img {
        height: 100%;
        max-width: 100%;
        max-height: calc(100% - 80px);
    }

    .tab-pane {
        height: calc(100% - 80px - 42px);
        text-align: center;
        margin-top: 3em;
    }

    .nav-pills {
        li {
            width: 25%;
            margin: 0;
            @media (max-width: 768px) {
                width: 50%;
            }
        }
        a {
            text-align: center;

            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.counter {
    text-align: center;
    margin-bottom: 4em;

    h1 {
        font-size: 6em;
        font-weight: 500;
        color: #dd0000;
    }
}

.bio-photo {
    text-align: center;
    img {
        border-radius: 100px;
        @include filter(grayscale(100%));
        box-shadow: 0 0 20px -5px black;
    }
}