@import "compass/css3/filter";

html { height: 100%; }
body {
    height: 100%;
}

.tooltip-inner {
    text-align: left;
}
.content {
    background: white;

    .container {
        position: relative;
        .info {
            position: absolute;
            right: 0;
            top: 175px;
            font-size: 2em;
            font-weight: bold;
            cursor: pointer;
            background: #d00;
            border-radius: 50%;
            color: white;
            width: 40px;
            height: 40px;
            text-align: center;

            &:before {
                content: 'i';
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .tab-pane {
        text-align: center;
        margin-top: 3em;
        margin-bottom: 3em;
        overflow: hidden;

        iframe {
            border: 0;
            margin-top: -80px;
        }
    }

    .nav-pills {
        li {
            width: 25%;
            margin: 0;
            @media (max-width: 768px) {
                width: 50%;
            }
        }
        a {
            text-align: center;

            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.counter {
    text-align: center;
    margin-bottom: 4em;

    h1 {
        font-size: 6em;
        font-weight: 500;
        color: #dd0000;

        @media (max-width: 768px) {
            font-size: 4em;
        }
    }

    .quote {
        width: 80%;
        margin: 3em auto;
    }
}

.bio-photo {
    text-align: center;
    img {
        margin-bottom: 1em;
        border-radius: 100px;
        box-shadow: 0 0 15px -5px black;
    }
}

.disclaimer {
    padding-bottom: 1em;
    p {
        font-size: 1em;
    }
}

p.little {
    font-size: 1em;
}

.btn-ctl {
    background: #dd0000;
    color: white;

    &:hover {
        background: red;
    }
}
