.navbar .navbar-brand {
    @media (max-width: 500px) {
        font-size: 2em;
        img {
            height: 35px;
        }
    }

    height: auto;
    color: black;
    font-size: 3em;
    font-weight: bold;

    span {
        white-space: nowrap;
    }

    img {
        vertical-align: text-bottom;
    }

}

.navbar {
    margin-bottom: 0;
    background: white;
    border: 0px;
}

.navbar-right {
    margin-top: 15px;
    @media (max-width: 768px) {
        display: none;
    }
}
